body {
    color: white;
    background: black;
    margin: 0px; 
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(248, 6, 6);
    padding: 20px;
    font-size: 32;
    color: rgb(248, 6, 6);
}


.chamada{
   justify-content: center;
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    background: rgb(130,0,40)
}

.chamda-texto {
    margin-right: 5%;

}
h1{
    font-size: 40px;
    margin: 30;
}

p {
    font-size: 24px;
}
img {
    height: 250px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.filmes{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid red
}
.filmes h2{
    color: rgb(248, 6, 6)
}